body {
<<<<<<< HEAD
    font-family: fantasy;
    font-size: 17px;
    background-image: url(/Images/Nature.jpeg);
    color: azure;
    font-weight: bold;
    height: 400px;
    float: top;
    background-repeat: repeat-x;


}

a {
    color: azure;
}

.vertical_dotted_line1 {
    border-left: 1px dotted white;
    height: 240px;

}

.vertical_dotted_line2 {
    border-left: 1px dotted white;
    height: 240px;

}

.vertical_dotted_line3 {
    border-left: 1px dotted white;
    height: 240px;

}

.vertical_dotted_line4 {
    border-left: 1px dotted white;
    height: 240px;

}

.vertical_dotted_line5 {
    border-left: 1px dotted white;
    height: 240px;
    float: left;
}




.header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;


}

.fsd {
    display: flex;
    justify-content: center;

    margin-bottom: 80px;
}

.intro {
    display: flex;
    justify-content: center;

}

ul {
    list-style: none;
    margin-right: 40px;


}

.socialmedia {
    justify-content: center;
    float: right;
    display: none;
}
=======
  display: inline-block;
  height: 3000px;
}

.header {
    background-color: black;
    text-align: center;
    padding-bottom: 1px;

}

.about-me {
    font-size: 20px;
}

.title {
    font-weight: bold;
}


h1 {
    color: azure;
    font-family: Georgia;
 }

 .socialmedia {
     height: 65px;
     padding: 7px;
     
 }

 .about-me {
     color: azure;
 }

 .faceshot {
     border-radius: 24px;
 }
 
 li {
     font-family:  Helvetica, sans-serif;
 }

 

 h6 {
     position: relative;
 }
 
 div {
     display: flex;
 }

 

 .button:hover {
     box-shadow: 0 1px 3px 4px rgba(0, 0, 0,0.2);
 }
 


>>>>>>> 9677b0fda192ddaa1b408c8605634de1519d9b92
